{% extends "authentification/base.html" %}
{% block metatags %}
<title>Sign Up</title>
{% endblock metatags %}

{% block body %}
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-6 col-lg-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>Message: </strong>{{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        <form class="card" method="post">
          {% csrf_token %}
          <h5 class="card-title fw-400">Sign Up</h5>
          <div class="card-body">
            <div class="form-group">
              <label for="id_username">Username:</label>
              {{ form.username }}
            </div>
            <div class="form-group">
              <label for="id_email">Email:</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label for="id_first_name">First Name:</label>
              {{ form.first_name }}
            </div>
            <div class="form-group">
              <label for="id_last_name">Last Name:</label>
              {{ form.last_name }}
            </div>
            <div class="form-group">
              <label for="id_password">Password:</label>
              {{ form.password }}
            </div>
            <div class="form-group">
              <label for="id_confirm_password">Confirm Password:</label>
              {{ form.confirm_password }}
            </div>
            <div class="form-group">
              <label for="id_role">Role:</label>
              {{ form.role }}
            </div>
            <button class="btn btn-block btn-bold btn-primary" type="submit">Register</button>
          </div>
        </form>

        <hr>
        <div><i><a href="/">Home page</a></i></div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}